{% set page = "index" %}
{% extends "template.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>ownCloud Files Scope</h1>
            <h3>Access your files on the go from your Ubuntu phone</h3>

            <a href="https://uappexplorer.com/app/owncloud-files-scope.bhdouglass">
                Find the scope on uApp Explorer
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Features</h3>
            <ul>
                <li>Convenient access to your files from the home screen</li>
                <li>Browse all your ownCloud files</li>
                <li>View image thumbnails or browse them in the gallery view</li>
                <li>Stream music straight from your server</li>
                <li>One click to download your files</li>
                <li>100% open source</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>FAQ</h3>

            <b>How do you set it up?</b>
            <p>
                Tap the gear icon on the top of the scope and enter your
                ownCloud address, username, and password.
                <br/>
                For the ownCloud address enter the full domain name and path. For
                example: https://owncloud.example.com/ or http://example.com/owncloud
            </p>

            <b>Can I use a self signed certificate on my server?</b>
            <p>
                It is recommended that you use an actual certificate,
                such as a free one from
                <a href="https://letsencrypt.org">Let's Encrypt</a>.
                But if needed there is an option called "Allow self signed certificate"
                that will enable support for self signed certificates.
            </p>

            <b>Why is my password stored in plain text?</b>
            <p>
                Currently the scope does not integrate with the Ubuntu Account
                service so the password is stored in plain text. It is
                recommended to not use this scope if you are worried about
                loosing your password. In a future version of the scope the
                password will be saved more securely.
            </p>

            <b>How can I get support?/How can I contribute?</b>
            <p>
                You can either file a bug on the scope's
                <a href="https://github.com/bhdouglass/owncloud-files-scope/issues">Github repo</a>
                or
                <a href="http://bhdouglass.com/contact.html">contact the author</a>.
            </p>

            <b>Is this an official ownCloud scope?</b>
            <p>
                This is an unofficial ownCloud file scope for Ubuntu Touch.
                This scope is not affiliated with or endorsed by ownCloud.
            </p>

            <b>What version of ownCloud does this support?</b>
            <p>
                Currently versions 8 and 9 have been tested and work well with this
                scope. Some users of v9 may find they need to enable "Fallback Mode" in
                the scope's settings.
            </p>

            <b>Why do downloads go through the browser?</b>
            <p>
                Currently scopes in Ubuntu Touch may not manage downloads. So in the
                absence of a companion app, downloads must go through the browser.
                In a future version there may be a companion app that is capable of
                managing downloads internally.
            </p>
        </div>
    </div>
</div>
{% endblock %}
