<!DOCTYPE html>
<html>
    <head lang="en" itemscope itemtype="http://schema.org/WebPage">
        <title>ownCloud Files Scope</title>
        <link rel="shortcut icon" href="/img/icon.png">

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />

        <meta name="description" content="ownCloud Files Scope for Ubuntu Touch" />

        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="ownCloud Files Scope" />
        <meta itemprop="description" content="ownCloud Files Scope for Ubuntu Touch" />
        <meta itemprop="image" content="/img/icon.png" />

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary" />
        <!--<meta name="twitter:site" content="@twitter" />-->
        <meta name="twitter:title" content="ownCloud Files Scope" />
        <meta name="twitter:description" content="ownCloud Files Scope for Ubuntu Touch" />
        <meta name="twitter:image:src" content="/img/icon.png" />

        <!-- Open Graph data -->
        <meta property="og:title" content="ownCloud Files Scope" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://owncloudfiles.bhdouglass.com/" />
        <meta property="og:image" content="/img/icon.png" />
        <meta property="og:description" content="ownCloud Files Scope for Ubuntu Touch" />
        <meta property="og:site_name" content="ownCloud Files Scope" />

        <!-- CSS -->
        <link rel="stylesheet" href="libs.css" />
        <link rel=stylesheet href="main.css" />

        <!-- JS -->
        <script src="app.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        ownCloud Files Scope
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://uappexplorer.com/app/owncloud-files-scope.bhdouglass">Install</a></li>
                        <li><a href="https://github.com/bhdouglass/owncloud-files-scope/issues">Report a Bug</a></li>
                        <li><a href="https://github.com/bhdouglass/owncloud-files-scope">Source</a></li>
                        <li><a href="http://bhdouglass.com/">Author</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}
    </body>
</html>
